<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bainbridge Nursing & Rehabilitation Center</title>
</head>
<body>
    <h1>This is Info on Bainbridge</h1>

    <!-- Displaying the name of the home for this specific page -->
    <% for (let i=0; i<homes.length; i++){%>
        <% if (homes[i].name == 'Bainbridge Nursing & Rehabilitation Center'){%>
            <h2 class="bain-heading"><%= homes[i].name %></h2>
        <%}%>
    <%}%>

    <!-- Displaying the bainbridge home address -->
    <% for (let i=0; i<homes.length; i++){%>
        <% if (homes[i].address == '3518 Bainbridge Ave, Bronx, NY 10467'){%>
            <h2><%= homes[i].address %></h2>
        <%}%>
    <%}%>

    <!-- Displaying the nursing home's phone number -->
    <% for (let i=0; i<homes.length; i++){%>
        <% if (homes[i].phoneNumber == '718-655-1991'){%>
            <h3><%= homes[i].phoneNumber %></h3>
        <%}%>
    <%}%>
    

    <!-- Displaying the nursing home's website -->
    <% for (let i=0; i<homes.length; i++){%>
        <% if (homes[i].website == 'bainbridgecares.com'){%>
            <a href="https://bainbridgecares.com">Website</a>
            
        <%}%>
    <%}%>
    <img src="" alt="photo-of-home">

    
</body>
</html>