<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kings Harbor</title>
</head>
<body>
    <h1>Welcome to King's Harbor</h1>

       <!-- Displaying the name of the home for this specific page -->
       <% for (let i=0; i<homes.length; i++){%>
        <% if (homes[i].name == 'Kings Harbor Multicare Center'){%>
            <h2 class="kings-heading"><%= homes[i].name %></h2>
        <%}%>
    <%}%>

    <!-- Displaying the bainbridge home address -->
    <% for (let i=0; i<homes.length; i++){%>
        <% if (homes[i].address == '2000 E Gunhill Rd, Bronx, NY 10469'){%>
            <h2><%= homes[i].address %></h2>
        <%}%>
    <%}%>

    <!-- Displaying the nursing home's phone number -->
    <% for (let i=0; i<homes.length; i++){%>
        <% if (homes[i].phoneNumber == '718-320-0400'){%>
            <h3><%= homes[i].phoneNumber %></h3>
        <%}%>
    <%}%>
    

    <!-- Displaying the nursing home's website -->
    <% for (let i=0; i<homes.length; i++){%>
        <% if (homes[i].website == 'kingsharbor.com'){%>
            <a href="https://kingsharbor.com">Website</a>
            
        <%}%>
    <%}%>
    <img src="" alt="photo-of-home">
</body>
</html>